*
{
	margin: 0px;
}

html
{
	font-size: 3vw;
	font-family: open-sans, calibri, sans-serif;
}

body
{
	overflow: hidden;
	
	background-color: #111;
}

#game
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	position: absolute;
}

@media(min-aspect-ratio: 16/9)
{
	#game
	{
		height: 100vh;
		width: 177.77vh;
	}
}

@media(max-aspect-ratio: 16/9)
{
	#game
	{
		width: 100vw;
		height: 56.25vw;
	}
}

/*@media(max-width: 480px)
{
	#game
	{
		width: 480px;
		height: 270px;
		
		left: auto;
		right: auto;
	}
}

@media(max-height: 270px)
{
	#game
	{
		width: 480px;
		height: 270px;
		
		top: auto;
		bottom: auto;
	}
}*/

canvas
{
	width: 100%;
	height: 100%;
}

a
{
	display: block;
	
	color: inherit;
}

h1
{
	margin-bottom: 0.5rem;
	
	font-size: 2rem;
	font-family: dreamofme;
}

.view
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

#menu.view
{
	padding: 1rem;
	
	background-color: rgb(181, 230, 29);
}

#play.view
{
	background-color: red;
}