*
{
	margin: 0px;
}

html
{
	color: #EEE;
	font-size: 18px;
	font-family: calibri;
}

body
{
	width: 480px;
	height: 270px;
	overflow: hidden;
	
	background-color: #111;
}

#game
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	position: fixed;
}

@media(min-aspect-ratio: 16/9)
{
	#game
	{
		height: 100vh;
		width: 177.77vh;
	}
}

@media(max-aspect-ratio: 16/9)
{
	#game
	{
		width: 100vw;
		height: 56.25vw;
	}
}

@media(max-width: 480px)
{
	#game
	{
		width: 480px;
		height: 270px;
		
		left: auto;
		right: auto;
	}
}

@media(max-height: 270px)
{
	#game
	{
		width: 480px;
		height: 270px;
		
		top: auto;
		bottom: auto;
	}
}

#game > .view
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}

#game > canvas.view
{
	background-color: #888;
}

#game > #status.view > #bombcount
{
	top: 1rem;
	left: 1rem;
	font-size: 2rem;
	line-height: 1em;
	position: absolute;
}