@mixin font-face($font, $font-weight: normal, $font-style: normal, $font-stretch: normal)
{
    @font-face
    {
        font-style: $font-style;
        font-weight: $font-weight;
        font-stretch: $font-stretch;
        font-family: "#{$font}";
        src: url("./assets/fonts/#{$font}.ttf") format("truetype");
    }
}

@include font-face(goldfish);
