.monkey
{
    position: absolute;
    
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.red.monkey
{
    background-image: url("./assets/images/monkeys/red-monkey.svg")
}

.green.monkey
{
    background-image: url("./assets/images/monkeys/green-monkey.svg")
}

.blue.monkey
{
    background-image: url("./assets/images/monkeys/blue-monkey.svg")
}

.purple.monkey
{
    background-image: url("./assets/images/monkeys/purple-monkey.svg")
}
