*
{
    margin: 0px;
}

@import "./styles/Colors.scss";
@import "./styles/Fonts.scss";
@import "./styles/Sizes.scss";

@import "./styles/GameFrame.scss";

body
{
    font-family: $fonts;
    background-color: $black;
}

#game-frame
{
    background-color: $game-frame-color;
}
