@import "./styles/fonts.scss";
@import "./styles/defaults.scss";
@import "./styles/gameframe.scss";

html
{
    font-family: goldfish;
    background-color: #111;

    #game-frame
    {
    	background-color: #111;
    }
}
