@import "./styles/Fonts.scss";
@import "./styles/Defaults.scss";
@import "./styles/GameFrame.scss";

html
{
    font-family: goldfish;
    background-color: #111;

    #game-frame
    {
    	background-color: #EEE;
    }
}
