* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
    font-family: box;
}

.entity {
    img {
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
}
